/* GLOBALT */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
}

body {
    background: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header {
    background: #719e6c;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* OM MIG */
#about {
    padding: 50px 20px;
    text-align: center;
}

/* PORTFOLIO / GRID */
#projects {
    padding: 50px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project {
    background: white;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}